<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to X-Team TodoX &#12484;</h1>
    <p class="lead">This is a simple Todo List with Facebook Auth and Firebase integration</p>
    <hr class="my-4">
    <p>Login to start using the TodoX list app ;)</p>
    <p class="lead text-center">
      <a 
        (click)="login()"
        class="btn btn-primary btn-lg facebookBg" routerLink="/" role="button">
          <i class="fab fa-facebook-f"></i>
          Login with Facebook
      </a>
    </p>
  </div>
</div>